@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background-color:rgb(217, 202, 179);
  color: rgb(33, 33, 33);
  font-size: 16px;
  line-height: 1.3;
  margin: 0;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  color:rgb(109, 152, 134);
  margin-top: 0;
  margin-bottom: 1em;
}

h1 {
  font-size: 2em;
  font-weight: 600;
}

h2 {
  font-weight: 500;
}

p {
  width: 60%;
  margin: 2em auto;
}

img {
  width: 100%;
  max-width: fit-content;
  object-fit: contain;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: .8;
  cursor: pointer;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  display: inline;
  margin: 0 .8em;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.card {
  background-color: rgb(246, 246, 246);
  text-align: center;
  border-radius: .5rem;
  box-shadow: 2px 3px 5px 0px rgba(109, 152, 134, .8);
  padding: 1em;
  margin: 1em;
}

.button {
  display: block;
  width: 50%;
  background-color: rgb(109, 152, 134);
  font-weight: 600;
  border-radius: .2em;
  padding: 1em;
  margin: 1em auto;
  box-shadow: 2px 2px 5px rgba(33, 33, 33, .8);
}

.fa-linkedin {
  color: #0A66C2;
}

.fa-twitter-square {
  color: #1E9BF0;
}

.fa-github {
  color:#2d333b;
}

/* Media queries */
@media(max-width: 1200px) {
  .container {
    width: 900px;
  }
}

@media(max-width: 992px) {
  .container {
    width: 700px;
  }
}

@media(max-width: 768px) {
  .container {
    width: 540px;
  }
}

@media(max-width: 576px) {
  .container {
    width: auto;
  }
}
